body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}
/* Wrapper */
.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-content: center;
}
/* Navigation Menu */
.nav-menu {
	display: flex;
	background: black;
	height: 60px;
	width: 100%;
	justify-content: center;
	align-content: center;
	border-top: 5px;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	border-style: solid;
	border-color: #946BAA;
}

.nav-menu > ul {
	display: inline-flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-menu > ul > li {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: 150px;
}

.nav-menu > ul > li > a {
	display: flex;
	color: white;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.nav-menu > ul > li > a:link {
	color: white;
}

.nav-menu > ul > li > a:visited {
	color: white;
}

.nav-menu > ul > li > a:active {
	color: white;
}
/* Hovers on navigation menu */
#github:hover{
	background: #946BAA;
	height: 100%;
	transition: background-color .5s ease;
}
#home:hover{
	background: #EF6F6C;
	height: 100%;
	transition: background-color .5s ease;
}
#about:hover {
	background: #4ECDC4;
	height: 100%;
	transition: background-color .5s ease;
}
/* Photo Container */
.photo-container {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: auto;
}
/* Photo Div */
.photo{
	display: flex;
	position: relative;
	box-sizing: border-box;
	justify-content: center;
	align-content: center;
	max-width: 400px;
	max-height: 400px;
}
.photo > img {
	display: flex;
	max-height: 400px;
	max-width: 400px;
}
/* Photo Description */
.photo-des{
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.7);
	position: absolute;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.5s;
}
.photo-des>p{
	color: black;
	font-size: 20px;
	margin: 10px 0 20px 20px;
}
/* Photo Description Hover */
.photo:hover .photo-des{
	visibility: visible;
	opacity: 1;
	transition: opacity .5s, visibility .5s;
}
